<% provide :title, "Reports" %>
<h1>All Reports</h1>

<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered">
      <thead>
        <tr class="info">
          <th class="center" style="width: 150px">Người báo cáo</th>
          <th class="center">Bài viết bị báo cáo</th>
          <th class="center">Nội dung báo cáo</th>
          <th class="center" style="width: 150px">Thời gian báo cáo</th>
        </tr>
      </thead>
      <tbody>
        <% @reports.each do |report| %>
          <tr>
            <td><%= report.user.name %></td>
            <td>
              <% if report.review %>
                <%= link_to "Bài đánh gía của", report.review %>
              <% else %>
                Bài đánh gía của
              <% end %>
              <%= User.find_by(id: report.reported_user).name %>
              về
              <%= link_to report.review.book.title, report.review.book %>
            </td>
            <td><%= report.content %></td>
            <td><%= report.created_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

