<% provide :title, t("home") %>

<% unless logged_in? %>
  <div class="center jumbotron">
    <h1><%= t "welcome" %></h1>
    <h1><%= t "title_page" %></h1>
    <h2><%= t "slogan" %></h2>
    <%= link_to t("sign_up_now"), new_user_path, class: "btn btn-lg btn-primary" %>
  </div>
<% else %>
  <div class="row">
    <div class="col-md-3">
      <h2>Hôm nay <br> bạn đọc gì?</h2>
      <% @random_books.each do |book| %>
        <div class="card">
          <div class="book-image"><%= book_image book %></div>
          <div class="container">
            <h4><%= link_to book.title.truncate(Settings.book_title), admins_book_path(book) %></h4>
            <%= book.author %><br>
            <div class="book_rating">
              <%= render "books/book_rating", book: book %>
            </div>
            <br>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-6">
      <ul class="users">
        <% @feed_items.each do |activity| %>
          <li>
            <div class="col-md-2">
              <%= user_avatar activity.user %>
            </div>
            <div class="col-md-10">
              <%= link_to activity.user.name, activity.user %> đã viết bài đánh gía cho
              <%= link_to activity.book.title, activity.book %><br>
              Điểm:
              <%= render "shared/stars", rating: activity.review.rating %>
              <br>
              <%= raw activity.review.content %>
              <span class="timestamp">
                <%= t "posted_ago", time: time_ago_in_words(activity.review.created_at) %>
                | <%= link_to "Xem thêm", activity.review %>
              </span>
            </div>
          </li>
        <% end %>
      </ul>
      <%= will_paginate @feed_items %>
    </div>
    <div class="col-md-3">
      <%= link_to (image_tag "nhanam.jpg", height: '300', width: '300'),
        "http://www.nhanam.vn" %>
    </div>
  </div>
<% end %>
