<div class="row">
  <div class="row">
    <div class="col-md-9">
      <h3><%= link_to @review.user.name, @review.user %>'s Review >
      <%= link_to @review.book.title, @review.book %></h3>
    </div>
    <div class="col-md-2">
      <h4>
        <% if current_user.admin? %>
          <%= link_to t("delete"), review_path(@review),
            method: :delete, data: {confirm: t("confirm")}, class: "btn btn-danger"%>
        <% elsif current_user.current_user? @review.user %>
          <%= link_to t("edit"), edit_review_path(@review), class: "btn btn-success" %>
          <%= link_to t("delete"), @review, method: :delete,
            data: {confirm: t("confirm")}, class: "btn btn-danger" %>
        <% else %>
          <i class="fa fa-flag" aria-hidden="true"></i>
          <%= link_to "Report", "#", {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-report'} %>
        <% end %>
      </h4>
      <div class="modal fade" id="modal-report" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Report</h4>
            </div>
            <div class="modal-body">
              <%= form_for @report, html: {method: :post} do |f| %>
                <%= f.hidden_field :review_id, value: @review.id %>
                <%= f.hidden_field :reported_user, value: @review.user.id %>

                <%= f.text_area :content, class: "form-control" %>
                <%= f.submit "Submit", class: "btn btn-primary" %>
              <% end %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <br>

  <div class="col-md-3">
    <div class="card">
      <div class="book-image"><%= book_image @review.book %></div>
      <div class="container">
        <h4><%= link_to @review.book.title.truncate(Settings.book_title), @review.book %></h4>
        <%= @review.book.author %><br>
        <div class="book_rating">
          <%= render "shared/stars", rating: @review.book.rating %>
          <%= @review.book.rating %>
          (<%= @review.book.reviews.count %> đánh giá)
        </div>
        <br>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <%= raw @review.content %>
    <span class="timestamp">
      <%= t "posted_ago", time: time_ago_in_words(@review.created_at) %>
    </span>
    <br>

    <p><b><%= t "comment" %></b>
    <span class="comment-count">
      <b>(<%= @review.comments.count %>)</b>
    </span></p>

    <div class="col-md-12 comment-form">
      <%= form_for @comment, url: comments_path, html: {method: :post},
        remote: true do |f| %>
        <%= f.hidden_field :review_id, value: @review.id %>
        <div class="col-md-10">
          <%= f.text_area :content, class: "form-control" %>
        </div>
        <div class="col-md-2">
          <%= f.submit t("comment"), class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>

    <div id="comments">
      <%= render @review.comments %>
    </div>
  </div>
</div>
